<div class="wrapper">
    <div class="header">
    <app-header></app-header>
    </div>
    <div class="sidebar">
    <app-sidebar></app-sidebar>
    </div> 
    <div class="main">
    <div class="content">
    <br>
    <div class="row-1">
    <p class="content-heading">Registered Customers</p>
    
    <div class="dropdown">
    <app-dropdown></app-dropdown>
    </div>
    
    <div class="searchbar">
    <app-search-br></app-search-br>
    </div>
    
    </div>
    <!-- end of row 1 -->
    <div class="row-2" style="overflow-x:auto">

     <table id="customers" class="font-book">
     <tr id="customers-header">
       <td>ID</td>
       <td>First Name</td>
       <td>Email</td>
       <td>Phone</td>
       <td>Last Login Date</td>
       <td><i class="fa fa-sort"></i></td>
     </tr>
     
            <tr>
                <td>10</td>
                <td>Remileku</td>
                <td>Chibundu</td>
                <td>08180000321</td>
                <td>26 Oct 2017</td>
                <td><i class="fa fa-ellipsis-h"></i></td>
              </tr>
              <tr>
                  <td>10</td>
                  <td>Remileku</td>
                  <td>Chibundu</td>
                  <td>08180000321</td>
                  <td>26 Oct 2017</td>
                  <td><i class="fa fa-ellipsis-h"></i></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Remileku</td>
                    <td>Chibundu</td>
                    <td>08180000321</td>
                    <td>26 Oct 2017</td>
                    <td><i class="fa fa-ellipsis-h"></i></td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>Remileku</td>
                      <td>Chibundu</td>
                      <td>08180000321</td>
                      <td>26 Oct 2017</td>
                      <td><i class="fa fa-ellipsis-h"></i></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Remileku</td>
                        <td>Chibundu</td>
                        <td>08180000321</td>
                        <td>26 Oct 2017</td>
                        <td><i class="fa fa-ellipsis-h"></i></td>
                      </tr>
                      <tr>
                          <td>10</td>
                          <td>Remileku</td>
                          <td>Chibundu</td>
                          <td>08180000321</td>
                          <td>26 Oct 2017</td>
                          <td><i class="fa fa-ellipsis-h"></i></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Remileku</td>
                            <td>Chibundu</td>
                            <td>08180000321</td>
                            <td>26 Oct 2017</td>
                            <td><i class="fa fa-ellipsis-h"></i></td>
                          </tr>
     </table>
    </div>
    <div class="row-3">
    <p>Displaying Users 1-39 of 39 in total</p>
    <p><i class="fa fa-caret-square-left"></i>
      Page 2 of 3
    <i class="fa fa-caret-square-right"></i></p>
    <p>Download <u>CSV XML JSON</u></p>
    </div>
    </div>
    </div>
    </div>
    