nav
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    align-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
#profile-pic
{
    justify-self: end;
    height: 32px;
    width:32px;
    border-radius: 50%;
}
#rewards-logo
{
    justify-self: start;
    height: 30px;
}