<div class="wrapper">
    <div class="header">
    <app-header></app-header>
    </div>
    <div class="sidebar">
    <app-sidebar></app-sidebar>
    </div> 
    <div class="main">
    <div class="content">
    <br>
    <div class="row-1">
    <p class="content-heading">Admin Users</p>
    
    <div class="dropdown">
        <app-dropdown></app-dropdown>
    </div>
    <button id="admin">New Admin User</button>
    <div class="searchbar">
      <app-search-br></app-search-br>
    </div>
    
    </div>
    <!-- end of row 1 -->
    <div class="row-2">
        <table id="admin-users" class="font-book">
            <tr id="admin-users-header">
              <td>Email</td>
              <td>Role</td>
              <td>Current Sign In At</td>
              <td>Last Sign In At</td>
              <td colspan="2">Status</td>
            </tr>
            
                   <tr>
                       <td>joanie.stroaman@gmail</td>
                       <td>Super Admin</td>
                       <td>April 26, 2018 15:10</td>
                       <td>April 20, 2018 12:17</td>
                       <td>Active</td>
                       <td><i class="fa fa-ellipsis-h"></i></td>
                     </tr>
                     <tr>
                        <td>zora_kessler@yahoo.com</td>
                        <td>Super Admin</td>
                        <td>April 26, 2018 15:10</td>
                        <td>April 20, 2018 12:17</td>
                        <td>Active</td>
                        <td><i class="fa fa-ellipsis-h"></i></td>
                       </tr>
                       <tr>
                          <td>joanie.stroaman@gmail.com</td>
                          <td>Super Admin</td>
                          <td>April 26, 2018 15:10</td>
                          <td>April 20, 2018 12:17</td>
                          <td>Inactive</td>
                          <td><i class="fa fa-ellipsis-h"></i></td>
                         </tr>
                         <tr>
                            <td>alexis_boyer@yahoo.com</td>
                            <td>Super Admin</td>
                            <td>April 26, 2018 15:10</td>
                            <td>April 20, 2018 12:17</td>
                            <td>Inactive</td>
                            <td><i class="fa fa-ellipsis-h"></i></td>
                           </tr>
                           <tr>
                              <td>oluwatayo.alofu@interswitchgrp.com</td>
                              <td>Super Admin</td>
                              <td>April 26, 2018 15:10</td>
                              <td>April 20, 2018 12:17</td>
                              <td>Inactive</td>
                              <td><i class="fa fa-ellipsis-h"></i></td>
                             </tr>
                             <tr>
                                <td>lane_thiel@vivien.co.uk</td>
                                <td>Super Admin</td>
                                <td>April 26, 2018 15:10</td>
                                <td>April 20, 2018 12:17</td>
                                <td>Inactive</td>
                                <td><i class="fa fa-ellipsis-h"></i></td>
                               </tr>
                               <tr>
                                  <td>earl_conn@myah.biz</td>
                                  <td>Super Admin</td>
                                  <td>April 26, 2018 15:10</td>
                                  <td>April 20, 2018 12:17</td>
                                  <td>Inactive</td>
                                  <td><i class="fa fa-ellipsis-h"></i></td>
                                 </tr>          
            </table>
           </div>
           <div class="row-3">
           <p>Displaying Users 1-39 of 39 in total</p>
           <p><i class="fa fa-caret-square-left"></i>
             Page 1 of 2
           <i class="fa fa-caret-square-right"></i></p>
           <p>Download <u>CSV XML JSON</u></p>
           </div>
    </div>
    </div>
    </div>
    