<div class="wrapper">
    <div class="header">
    <app-header></app-header>
    </div>
    <div class="sidebar">
    <app-sidebar></app-sidebar>
    </div> 
    <div class="main">
    <div class="content">
    <br>
    <div class="row-1">
    <p class="content-heading">Registered Customers</p>
    
    <div class="dropdown">
        <app-dropdown></app-dropdown>
    </div>
    
    <div class="searchbar">
      <app-search-br></app-search-br>
    </div>
    
    </div>
    <!-- end of row 1 -->
    <div class="row-2">
      
    </div>
    </div>
    </div>
    </div>
    