<div class="wrapper">

<form id="login_form">
<div class="form-header">
<h1 class="ash-label">Sign In</h1>
<img src="/src/assets/logo.png" class="form-logo" width="80px">
</div>
<label class="grey-label">Email</label>
<input type="text" name="email" id="email" class="input-background">
<label class="grey-label">Password</label>
<input type="password" name="password" id="password" class="input-background">
<small class="grey-label">Forgot your password?</small>
<button class="login-btn" (click)="createComponent()"><span class="btn-text">Login</span><span class="btn-icon">></span></button>
<label class="ash-label">Don't Have an Account?</label>
<i class=“icon-settings”></i> 
<button class="access-btn"><span class="btn-text">Request For Access</span><span class="btn-icon">></span></button>
</form>
</div>