.wrapper{
    background: url('/src/assets/bg.jpg') no-repeat center center fixed;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    padding: 15px;
    display: grid;
    place-content: center;
}
form
{
    display: grid;
    justify-content: center;
    margin: 20px auto;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.6);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    width: 308px;
    height: 419px;
    padding: 1em;
}

@media (max-width: 400px)
{
    form{
        width: 90% !important;
    }
}
.form-header
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: "a b";
}
.form-logo{
     justify-self: end; 
     grid-area: b;
     align-self: center;

}
.form-header h1{
    grid-area: a;
    align-self: center;
}
.input-background {
    background-color: #FFFFFF;
    border: 0.5px solid rgba(151, 151, 151, 0.48);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    width: 260px;
    height: 36px;
  }
.login-btn
{
        background-color: #C82B1D;
        border:0;
        width: 260px;
        height: 45px;
        color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        padding-left: 1em;
        padding-right: 1em;
}
.access-btn
{
    border: 1px solid #C82B1D;
    width: 260px;
    height: 45px;
    color: #C82B1D;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    padding-left: 1em;
    padding-right: 1em;
}
label{
    font-size: 12px;
}
small
{
    font-size: 10px;
}
.grey-label
{
    color: #7f7f7f;
}
.ash-label
{
    color: #2f2d2e;
}
.btn-text
{
    justify-self: start;
}
.btn-icon
{
    justify-self: end;
}