<div class="side-nav">
<ul class="menu">
<li><i class="icon-dashboard"></i>Dashboard</li>
<li><i class="icon-cms"></i>Content Management<span class="dropdown-icon">></span></li>
<li><i class="icon-user"></i>User Management<span class="dropdown-icon">></span></li>
<li><i class="icon-reporting"></i>Reporting<span class="dropdown-icon">></span></li>
<li><i class="icon-settings"></i>System Settings</li>
</ul>
<div class="footer">
  <img src="assets/logo-red.png" height="33px"> 
  <p>Copyright © 2018 UBA Group PLC.</p> 
   <p> Powered by Interswitch</p> 
</div>
</div>