<div class="wrapper">
<div class="header">
<app-header></app-header>
</div>
<div class="sidebar">
<app-sidebar></app-sidebar>
</div> 
<div class="main">
<div class="content">
<div class="row-1">
<p class="content-heading">Dashboard</p>
<div class="date-toggle">
Today: 20 Apr
<span class="toggle-icon">v</span>
</div>
<form id="search-form">
<input type="text" name="search" id="search" placeholder="Search">
</form>
</div>
<!-- end of row 1 -->
<div class="row-2">
  <div class="col-1">
   <div id="reg-card" class="card-small">
   <h1>1,234</h1>
   <p>Registered Customers</p>
   <img src="assets/squiggle-1.png">
   </div>
   <div id="red-card" class="card-small">
     <h1>3,456</h1>
     <p>Value of Redemptions</p>
     <img src="assets/squiggle-2.png">
    </div>
      <div id="pts-card" class="card-small">
     <h1>3,456</h1>
     <p>Points redeemed</p>
     <img src="assets/squiggle-3.png">
        </div>
        <div id="cash-card" class="card-small">
       <h1>3,456,789</h1>
       <p>Cash Spend (Debit Card)</p>
       <img src="assets/squiggle-4.png">
          </div>
  </div>
  <!-- cards column -->
  <div class="col-2" id="graph">
  <div class="graph-header">
  <p id="summary">Summary</p>
  <p id="month">Month</p>
  <button id="orange-btn">All Time</button>
  </div>
  <hr class="separator">
  <div id="lorem-div">
   <div class="lorem">
    <div>
      <p class="font-book size-12">Lorem Ipsum</p>
      <p class="font-bold size-16">123456789</p>
    </div>
    <div>
      <p class="font-book size-12">Lorem Ipsum</p>
      <p class="font-bold size-16">123456789</p>
    </div>
   </div>
   <div class="lorem">
   <div>
    <p class="font-book size-12">Lorem Ipsum</p>
    <p class="font-bold size-16">123456789</p>
   </div>
 <div>
  <p class="font-book size-12">Lorem Ipsum</p>
  <p class="font-bold size-16">123456789</p>
 </div>
  </div>
  </div>
  <img src="assets/graph.png">
  </div>
  <!-- graph column -->
</div>
</div>
</div>
</div>
