.wrapper
{
    margin: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "header  header  header header"
        "sidebar content content content";
}
.header
{
    margin: 0;
    grid-area: header;
}
.sidebar
{
    grid-area: sidebar;
}
.main
{
    grid-area: content;
}
.content
{
    /* margin-left: 3%; */
    width: 85%;
}
.row-1
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "a b . . . c c c";

}
.content-heading
{
     grid-area: a; 
     align-self: center;
     font-size: 20px;
}
.toggle-icon
{
    background-color: #2f2d2e;
    border-radius: 12px;
    height: 100%;
    color: #c0c0c0;
    /* padding: 2px; */
}
.date-toggle
{
    background-color: #ECECEC;
    border-radius: 12px;
    width: 116px;
    height: 24px;
    padding: 2px 10px; 
    text-align: center;
    font-family: CircularStd-Book, sans-serif;
    grid-area: b;
    align-self: center;
}
#search-form
{
    grid-area: c;
    align-self: center;
    justify-self: end;
}
#search
{
    width: 200px;
    height: 36px;
    border: 0.5px solid #C0C0C0;
    color: #c0c0c0;
    padding: 0 2px;
}
.card-small {
    background-color: #FFFFFF;
    border: 0.5px solid #D6D6D6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: 215px;
    height: 230px;
  }
.col-1
{
    display: grid;
    grid-template-columns: 220px 220px;
    grid-gap: 15px;
    grid-template-areas: 
    "a b"
    "c d";
}
#reg-card
{
    grid-area: a;
}
#red-card
{
    grid-area: b;
}
#pts-card
{
    grid-area: c;
}
#cash_card
{
    grid-area: d;
}
#graph
{
        border: 0.5px solid #979797;
        opacity: 0.6111865942028986;
        height: 100%;
}
.row-2
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}