<div class="wrapper">
<div class="header">
<app-header></app-header>
</div>
<div class="sidebar">
<app-sidebar></app-sidebar>
</div> 
<div class="main">
<div class="content">
<div class="row-1">
<p class="content-heading">Dashboard</p>
<div class="date-toggle">
Today: 20 Apr
<span class="toggle-icon">v</span>
</div>
<form id="search-form">
<input type="text" name="search" id="search" placeholder="Search">
</form>
</div>
<!-- end of row 1 -->
<div class="row-2">
  <div class="col-1">
   <div id="reg-card" class="card-small">

   </div>
   <div id="red-card" class="card-small">
     
    </div>
      <div id="pts-card" class="card-small">
     
        </div>
        <div id="cash-card" class="card-small">
     
          </div>
  </div>
  <!-- cards column -->
  <div class="col-2" id="graph">
  </div>
  <!-- graph column -->
</div>
</div>
</div>
</div>
