.toggle-icon
{
    background-color: #2f2d2e;
    border-radius: 12px;
    border:0;
    height: 24px;
    width: 24px;
    color: #c0c0c0;
    justify-self: flex-end;
    align-self: center;
    margin-left: auto;
 
}
.date-toggle
{
    background-color: #ECECEC;
    border: 0;
    border-radius: 12px;
    width: 116px;
    height: 24px;
    padding: 2px 0px 2px 10px; 
    text-align: center;
    font-family: CircularStd-Book, sans-serif;
    align-self: center;
    display: flex;
}
.date-toggle p
{
    align-self: center;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    width: 196px;
    /* height: 312px; */
    z-index: 1;
    font-family: CircularStd-Book, sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2f2d2e;}

/* Show the dropdown menu */
.show {display:block;}

#apply
{
    background-color: #D42E12;
    border-radius: 13.5px;
    width: 59px;
    height: 27px;
    font-family: CircularStd-Book, sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    border: 0;
    color: #fff;
}
#cancel
{
    font-family: CircularStd-Book, sans-serif;
    border: 1px solid #2F2D2E;
    border-radius: 13.5px;
    width: 69px;
    height: 27px;
    color: #2F2D2E;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
}
.btn-row
{
    text-align: center;
}