.toggle-icon
{
    background-color: #2f2d2e;
    border-radius: 12px;
    border:0;
    height: 24px;
    width: 24px;
    color: #c0c0c0;
    justify-self: flex-end;
    align-self: center;
    margin-left: auto;
 
}
.date-toggle
{
    background-color: #ECECEC;
    border: 0;
    border-radius: 12px;
    width: 116px;
    height: 24px;
    padding: 2px 0px 2px 10px; 
    text-align: center;
    font-family: CircularStd-Book, sans-serif;
    align-self: center;
    display: flex;
}
.date-toggle p
{
    align-self: center;
}